@font-face {
    font-family: 'Neuron Angled Black';
    src: url('fonts/NeuronAngledBlack.woff2') format('woff2'),
        url('fonts/NeuronAngledBlack.woff') format('woff'),
        url('fonts/NeuronAngledBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}