.navbar {
    z-index: 1000;
}

.page {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
    font-family: 'Sweet Sans Pro', sans-serif;
}



/* ----------------------------------------Hero Section Styles----------------------------------------------- */
.hero {
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(2, 12, 22, 0.2)), url('../images/accommodation/cover.jpg');
    background-size: cover;
    /* covers the entire section */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

/* Hero Content */
.hero-content {
    color: white;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    gap: 20px;
    /* Space between child elements */
}


.hero h1 {
    font-size: 80px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: -20px;
}

.hero p {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: lighter;
}




/* ------------------------------------------------------------Section 2-------------------------------------------------------------------- */

.sec2 {
    z-index: 15;
    font-family: 'Sweet Sans Pro', sans-serif;
    background-color: #ECEDEE;
    background: url('../images/accommodation/mobilebg.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 20px;
}

.section2all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.findingstay-content {
    margin-top: 100px;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
    width: 50%;
    /* This takes up 50% of the section's width */
}

.findingstay-content h1 {
    font-size: 42px;
}

.findingstay-content p {
    position: relative;
    top: -50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

/* -------------------------Phone */

.iphone {
    width: 40%;
    /* Adjusts the width of the iPhone image */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-right: 180px;
}

.iphone img {
    width: 100%;
    max-width: 400px;
    /* Limit the width of the image */
    height: auto;
}

.buttons {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    top: -50px;
    width: 85%;
}

.btn {
    padding: 12px 24px;
    font-family: 'Sweet Sans Pro';
    font-size: 18px;
    background-color: #d3d3d3;
    color: black;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex: 0 0 calc(50% - 10px);
    text-decoration: none;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #b0b0b0;
    transform: scale(1.05);
}

.btn:focus {
    outline: none;
}



.white-rectangle {
    display: none;
    /* Hidden by default */
}


/* ------------------------------------------------------------Section 3-------------------------------------------------------------------- */

.sec3melaka {
    background-color: #49100B;
    display: flex;
    align-items: center;
    height: 100vh;
}

.left-melaka {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-melaka img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-melaka {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    text-align: center;
}



.text-melaka {
    position: relative;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}


.text-melaka h1,
.text-melaka p {
    text-align: left;
    margin: 0;
}

.text-melaka h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.text-melaka .p1 {
    color: #C0B9AF;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 22px;
}

.text-melaka .p2 {
    color: #C0B9AF;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-size: 16px;
}



/* ------------------------------------------------------------Slider-------------------------------------------------------------------- */

.slidermelaka {
    position: relative;
}

.slider-container {
    width: 650px;
    overflow: hidden;
    display: flex;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider img {
    width: 287px;
    height: 414px;
    object-fit: cover;
    margin-right: 20px;
}

/* Optional: Add some border styling */
.slider-container:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
}

/* --------------------------------------------section 4---hotel 1------------------------------------------- */

.sec4hotel1 {
    z-index: 15;
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    background: #C1B9AD url('../images/accommodation/hotelmelekabg1.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    max-height: 750px;
}

.image-section img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.promo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    overflow: hidden;
}

.text4hotel {
    position: relative;
    top: 30px;
    max-width: 600px;
    margin-bottom: 50px;
    margin-right: 80px;
}

.text4hotel h1 {
    position: relative;
    bottom: -20px;
}

.text4hotel .p1 {
    font-weight: 250;
    font-size: 25px !important;
    margin-bottom: -50px;
}

.text4hotel .p2 {
    font-weight: 250;
    font-size: 16px !important;
    margin-bottom: 20px;
}

.text4hotel .highlight {
    font-weight: bold;
    color: #9f0d08;
}


.hoteldetails {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    background-color: #F2E5DA;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detailsleftnright {
    margin-left: 30px;
}

.hoteldetails p {
    margin-left: 15px;
    text-indent: -38px;
    /* Negative indent to bring the first line closer to the icon */
}

.hoteldetails img.icon {
    flex-shrink: 0;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.hoteldetails strong {
    color: #9f0d08;
}


/* Button Styles */
.book {
    width: auto;
    padding: 15px 25px;
    background-color: #49100B;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    z-index: 20;
    transition: background-color 0.3s, transform 0.3s;
}

/* -----------Text---------------- */
.book span {
    padding-left: 10px;
    color: #E6DFD5;
    font-size: 18px;
}

/* -----------Icon---------------- */
.book .right {
    margin-left: 10px;
    width: 15px;
    height: auto;
}

/* Hover Effect */
.book:hover {
    background-color: #E6DFD5;
    transform: scale(1.1);
}


.book:hover span {
    color: #9f0d08;
}




/* -------------------------------------------- section 5 --- hotel 2 ------------------------------------------- */

.sec5hotel2 {
    z-index: 15;
    font-family: 'Sweet Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E2D5CA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.coverleftnright {
    margin: 0 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    border-radius: 20px;
    overflow: hidden;
}


.imagetwo-section {
    width: 40%;
    height: auto;
}

.imagetwo-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    /* Rounded corners for the left image */
}

.promotwo-container {
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    display: flex;
    width: 50%;
    max-width: 1200px;
    border-radius: 20px;
    overflow: hidden;
}


.text2hotel h1 {
    position: relative;
    bottom: -20px;
    font-size: 40px;
}

.text2hotel .p1 {
    font-weight: 250;
    font-size: 25px;
    margin-bottom: -50px;
}

.text2hotel .p2 {
    font-weight: 250;
    margin-bottom: 20px;
}

.text2hotel .highlight {
    font-weight: bold;
    color: #9f0d08;
}


.r-hoteldetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #C0B1A1;
    padding: 20px;
    border-radius: 10px;
}

.r-hoteldetails p {
    line-height: 1.5;
    margin-left: 15px;
    text-indent: -38px;
}

.r-hoteldetails strong {
    color: #9f0d08;
}

.detailsleftnright {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}


.icon {
    width: 20px;
    height: 20px;
    margin-right: 14px;
    vertical-align: middle;
}


/* Button Styles */
.book2 {
    width: 170px;
    padding: 15px 25px;
    background-color: #49100B;
    border-radius: 25px;
    display: flex;
    cursor: pointer;
    border: none;
    margin-top: 25px;
    z-index: 5;
    transition: background-color 0.3s, transform 0.3s;
}

/* ----------- Text ---------------- */
.book2 span {
    padding-left: 10px;
    color: #E6DFD5;
    font-size: 18px;
}

/* ----------- Icon ---------------- */
.book2 .right {
    margin-left: 10px;
    width: 15px;
    height: auto;
}

/* Hover Effect */
.book2:hover {
    background-color: #E6DFD5;
    transform: scale(1.05);
}

.book2:hover span {
    color: #9f0d08;
}


/* --------------------------------------------section 6---hotel 3------------------------------------------- */

.sec6hotel3 {
    z-index: 15;
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    background-color: #C0B1A1;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text4hotel .hatten {
    font-size: 40px;
}




/* --------------------------------------------Tablet Styles ------------------------------------------ */
@media screen and (max-width: 1100px) {

    /*------------------------ hero-------------------- */
    .hero h1 {
        font-size: 60px;
    }

    .hero p {
        font-size: 25px;
    }



    /* ----------------------------------------Section 2--------------------------------------------------- */
    .sec2 {
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
        margin: 0;
    }

    .findingstay-content {
        z-index: 20;
        position: relative;
        top: 298px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        margin-left: -40px;
        width: 100%;
        text-align: left;
    }

    .findingstay-content h1 {
        position: relative;
        left: 0px;
        font-size: 35px;
    }

    .findingstay-content p {
        position: relative;
        left: 35px;
        font-size: 20px;
    }

    .iphone {
        z-index: 3;
        position: relative;
        bottom: 400px;
        width: 60%;
        margin-top: 0px;
        margin-right: 0px;
    }

    .iphone img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* Center buttons horizontally */
        gap: 20px;
        position: relative;
    }

    .btn {
        padding: 12px 24px;
        font-family: 'Sweet Sans Pro';
        font-size: 18px;
        background-color: #d3d3d3;
        color: black;
        border: 1px solid #ccc;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s ease, transform 0.2s ease;
        flex: 0 0 45%;
        /* Ensures buttons don't stretch too much */
    }

    .btn:hover {
        background-color: #b0b0b0;
        transform: scale(1.05);
    }

    .btn:focus {
        outline: none;
    }


    /* ---------------------------------------Section 3 melakaaa---------------------------- */
    .sec3melaka {
        height: 1000px;
        flex-direction: column;
        align-items: center;
    }

    .left-melaka {
        height: 50px;
        width: 100%;
        display: flex;
    }

    .right-melaka {
        height: 700px;
        width: 100%;
        display: flex;
    }

    .text-melaka {
        width: 70%;
        color: white;
        margin-left: 0 10px;
        margin-top: 10px;
    }

    .text-melaka h1 {
        font-size: 28px;
    }

    .text-melaka p {
        font-size: 18px;
    }

    /* -------------------------------------Slider*/
    .slider-container {
        margin-left: 100px;
        width: 80%;
        height: 300px;
    }

    .slider img {
        width: 100%;
        height: auto;
    }

    .coverleftnright {
        margin-left: 150px;
        margin-right: 150px;
        display: flex;
        position: relative;
        width: 100%;
    }


    /* melaka hotel 111111 */
    .image-section {
        display: none;
    }

    .text4hotel {
        margin-right: 0px;
    }

    /* melaka hotel 22222 */
    .imagetwo-section {
        display: none;
    }

    .promotwo-container {
        margin-left: 0px;
        width: 90%;
    }




}


/* --------------------------------------------Mobile Styles ------------------------------------------ */
@media screen and (max-width: 767px) {

    /* Hero Section */
    .hero {
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero p {
        font-size: 18px;
    }


    /* ----------------------------------------Section 2--------------------------------------------------- */
    .findingstay-content {
        top: 320px;
    }

    .findingstay-content h1 {
        position: relative;
        margin-left: 0px;
        font-size: 30px;
    }

    .findingstay-content p {
        text-align: center;
        width: 80%;
        position: relative;
        left: 0px;
        font-size: 18px;
    }

    /* ---------------------------------------Section 3 melakaaa---------------------------- */
    .sec3melaka {
        flex-direction: column;
        /* Stack the left and right sections vertically */
        align-items: center;
        height: auto;
    }

    .left-melaka {
        flex: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-melaka img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }


    .text-melaka h1 {
        font-size: 32px;
        /* Adjust font size for smaller screens */
    }

    .text-melaka .p1,
    .text-melaka .p2 {
        font-size: 14px;
        /* Adjust paragraph font size */
    }

    /* -------------------------------------Slider*/
    .slider-container {
        margin-right: 100px;
        margin-bottom: 30px;
        width: 290px;
        height: 414px;
    }

    .slider img {
        width: 100%;
        height: auto;
    }


    /* -----------------------------------------------------Section 4 ------------------------------------------------*/
    .sec4hotel1 {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .promo-container {
        bottom: 50px;
        margin-left: 40px;
        flex-direction: column;
        align-items: center;
    }

    .text4hotel {
        max-width: 100%;
    }

    .text4hotel .p1 {
        font-size: 20px !important;
    }


    .book {
        width: 100%;
        text-align: center;
    }

    .image-section {
        display: none;
    }


    /* -----------------------------------------Section 5------------------------------ */
    .sec5hotel2 {
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    /* Content Wrapper */
    .coverleftnright {
        flex-direction: column;
        align-items: center;
        border-radius: 0px !important;
    }

    .imagetwo-section {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40%;
    }

    .imagetwo-section img {
        border-radius: 0px !important;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .promotwo-container {
        border-radius: 0px !important;
        background-color: #E2D5CA;
        width: 100%;
        margin: 0 0;
    }

    /* Text Section */
    .text2hotel {
        position: relative;
        width: 75%;
        margin-left: 30px;
        text-align: left;
    }

    .text2hotel h1 {
        bottom: -30px;
        font-size: 28px;
    }


    .text2hotel .p1 {
        font-size: 18px;
    }

    .text2hotel .p2 {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.5;
    }

    /* Hotel Details */
    .r-hoteldetails {
        position: relative;
        background-color: #FFFFFF;
        width: 80%;
        margin: 10px;
        margin-left: 30px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .r-hoteldetails p {
        text-align: left;
        font-size: 16px;
        /* Smaller font for mobile */
    }

    .r-hoteldetails .icon {
        width: 18px;
        height: 18px;
    }

    /* Book Now Button */
    .book2 {
        margin-left: 0px;
        padding: 20px 10px;
        width: 100%;
        border-radius: 0px;
        font-size: 16px;
    }


    .book2:hover {
        background-color: #E6DFD5;
        transform: scale(1);
    }


    /* -----------------------------------------Section 6------------------------------ */

    .sec6hotel3 {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .text4hotel .hatten {
        font-size: 35px;
    }

}

@media screen and (max-width: 400px) {

    /* Hero Section */
    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 15px;
    }

    .iphone {
        bottom: 340px;
    }


    .findingstay-content {
        top: 320px;
    }

    .findingstay-content h1 {
        position: relative;
        margin-left: 0px;
        margin-top: 40px;
        margin-bottom: 80px;
        font-size: 24px;
    }

    .findingstay-content p {
        font-size: 0px;
        width: 90%;
        margin: 0 auto;
    }

    .btn {
        padding: 10px 20px;
    }

    /* Section 3 Melaka Sliderrrrrr------------------------- */
    .left-melaka img {
        height: 300px;
    }

    .text-melaka {
        margin-top: 50px;
    }


    .text-melaka h1 {
        font-size: 35px;
    }

    .text-melaka .p1,
    .text-melaka .p2 {
        font-size: 15px;
    }

    /* Slider */
    .slider-container {
        width: 270px;
        height: 400px;
    }

    /* Section 4 Hotel------------------------- */
    .sec4hotel1 {
        margin: 0 0px;
    }

    .promo-container {
        margin: 50px 15px;
    }

    .hoteldetails p {
        font-size: 15px;
        margin-left: 10px;
    }

    .text4hotel h1 {
        font-size: 24px;
        /* Reduce header size */
    }

    .text4hotel h4,
    .text4hotel .p1,
    .text4hotel .p2 {
        font-size: 15px;
        /* Adjust font size for better fit */
    }

    .sec6hotel3 {
        margin-bottom: 0px;
    }


    /* Section 5 Hotel 2-----------------------*/
    .text2hotel h1 {
        font-size: 30px;
    }

    .text2hotel .p1,
    .text2hotel .p2 {
        font-size: 15px;
    }


    .r-hoteldetails {
        margin-left: 18px;
    }

    .r-hoteldetails p {
        font-size: 15px;
    }

    .book2 {
        font-size: 14px;
        padding: 15px 8px;
    }

    /* Section 6 */
    .sec6hotel3 {
        padding: 10px;
        margin-bottom: 0px;
    }

}