/* ---------------------------------------------Hero Section Styles----------------------------------------------- */
.hero {
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    /* Full screen height */
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../images/penang/penang-galleryhero.jpg');
    background-size: cover;
    /* covers the entire section */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F6F6F6;
}

.hero h1 {
    font-size: 80px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    letter-spacing: 5px;
}

.hero p {
    font-size: 28px;
    font-weight: 250;
    letter-spacing: 5px;
    margin-bottom: -70px;
}

/* ---------------------------------------------Gallery Section Styles----------------------------------------------- */
.states-container {
    background-color: #39230A;
    padding: 80px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.column1 {
    flex: 1;
}

.column2 {
    flex: 2;
}

/* ---------------------------------------------Photos Section Styles----------------------------------------------- */
.penang1 {
    background: url('../images/penang/penang1.jpg');
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    height: 275px;
    width: auto;
}

.penang2 {
    background: url('../images/penang/penang2.jpg');
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    height: 275px;
    width: auto;
}

.penang3 {
    background: url('../images/penang/penang3.jpg');
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    height: 325px;
    width: auto;
}

.penang4 {
    background: url('../images/penang/penang4.jpg');
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    height: 325px;
    width: auto;
}

.penang5 {
    background: url('../images/penang/penang5.jpg');
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    height: 325px;
    width: auto;
}

.penang6 {
    background: url('../images/penang/penang6.jpg');
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    height: 375px;
    width: auto;
}

.penang7 {
    background: url('../images/penang/penang7.jpg');
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    height: 375px;
    width: auto;
}

.penang8 {
    background: url('../images/penang/penang8.jpg');
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    height: 425px;
    width: auto;
}

.penang9 {
    background: url('../images/penang/penang9.jpg');
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    height: 425px;
    width: auto;
}

.penang10 {
    background: url('../images/penang/penang11.jpg');
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    height: 500px;
    width: auto;
}


@media screen and (max-width: 900px) {

    /* ---------------------------------------------Hero Section Styles----------------------------------------------- */
    .hero h1 {
        font-size: 40px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }

    .hero p {
        font-size: 16px;
        margin-bottom: -35px;
        letter-spacing: 2px;
        font-weight: 300;
    }
}

@media screen and (max-width: 650px) {

    /* ---------------------------------------------Hero Section Styles----------------------------------------------- */
    .hero h1 {
        font-size: 30px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }

    .hero p {
        font-size: 15px;
        margin-bottom: -27.5px;
        letter-spacing: 2px;
        font-weight: 300;
    }

    /* ---------------------------------------------Gallery Section Styles----------------------------------------------- */
    .states-container {
        padding: 40px;
    }

    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        margin-bottom: 9px;
    }

    .column1 {
        flex: 1;
    }

    .column2 {
        flex: 2;
    }

    /* ---------------------------------------------Photos Section Styles----------------------------------------------- */
    .penang1 {
        border-radius: 5px;
        height: 85px;
        width: auto;
    }

    .penang2 {
        border-radius: 5px;
        height: 85px;
        width: auto;
    }

    .penang3 {
        border-radius: 5px;
        height: 85px;
        width: auto;
    }

    .penang4 {
        border-radius: 5px;
        height: 85px;
        width: auto;
    }

    .penang5 {
        border-radius: 5px;
        height: 85px;
        width: auto;
    }

    .penang6 {
        border-radius: 5px;
        height: 125px;
        width: auto;
    }

    .penang7 {
        border-radius: 5px;
        height: 125px;
        width: auto;
    }

    .penang8 {
        border-radius: 5px;
        height: 130px;
        width: auto;
    }

    .penang9 {
        border-radius: 5px;
        height: 130px;
        width: auto;
    }


    .penang10 {
        border-radius: 5px;
        height: 200px;
        width: auto;
    }
}