@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('../fonts/SweetSansProMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}


/* ---------------------------------------------Navigation Bar Styles----------------------------------------------- */
body {
    font-family: 'Sweet Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 100000;
    background-color: #020C16;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
}

.navbar a {
    color: #AAA297;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: 500;
}

.logo {
    height: 40px;
    margin: -10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    padding: 14px 20px;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    color: #AAA297;
    cursor: pointer;
    margin-right: 10px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    min-width: 160px;
    z-index: 1;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.submenu a {
    color: white;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submenu a:hover {
    background-color: #575757;
    border-radius: 5px;
    color: #ffd700;
    transition: all 0.3s ease-in-out;
}

.menu-item:hover .submenu {
    display: block;
}

.menu-item img {
    margin-left: -15px;
    margin-bottom: -2px;
}

.close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    font-size: 30px;
    color: #AAA297;
    cursor: pointer;
}


/* ---------------------------------------------Footer Styles----------------------------------------------- */
.footer {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #5C3922;
    color: white;
    text-align: center;
    padding: 80px;
}

.footer h1 {
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 40px;
    color: #E6DFD5;
}

.footer p {
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #AAA297;
    margin-top: -15px;
}

.footer hr {
    border: none;
    height: 1px;
    background-color: #816E60;
    width: 100%;
    /* Line width */
    margin-top: 50px;
    /* Center alignment */
}

/* Button Styles */
.explore {
    width: auto;
    padding: 10px 20px;
    background-color: #AAA297;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Icon Styles */
.explore .search {
    margin-left: 10px;
    width: 20px;
    height: auto;
}

/* Text Styles */
.explore span {
    margin-left: 10px;
    color: #31312E;
    font-size: 20px;

}

/* Hover Effect */
.explore:hover {
    background-color: #f5c400;
    /* Change to orange on hover */
    transform: scale(1.1);
    /* Slightly enlarge on hover */
}

.footer-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia {
    background-color: transparent;
    border: none;
    height: 45px;
    margin-top: 20px;
    cursor: pointer;
}

.footer-menu-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #AAA297;
    margin-top: 42.5px;
}


/* ---------------------------------------------Transport Footer Styles----------------------------------------------- */
.footer-transport {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #020C16;
    color: white;
    text-align: center;
    padding: 80px;
}

.footer-transport h1 {
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 40px;
    color: #E6DFD5;
}

.footer-transport p {
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #AAA297;
    margin-top: -15px;
}

.footer-transport hr {
    border: none;
    height: 1px;
    background-color: #816E60;
    width: 100%;
    /* Line width */
    margin-top: 50px;
    /* Center alignment */
}

/* Button Styles */
.explore {
    width: auto;
    padding: 10px 20px;
    background-color: #AAA297;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Icon Styles */
.explore .search {
    margin-left: 10px;
    width: 20px;
    height: auto;
}

/* Text Styles */
.explore span {
    margin-left: 10px;
    color: #31312E;
    font-size: 20px;

}

/* Hover Effect */
.explore:hover {
    background-color: #f5c400;
    /* Change to orange on hover */
    transform: scale(1.1);
    /* Slightly enlarge on hover */
}

.footer-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia {
    background-color: transparent;
    border: none;
    height: 45px;
    margin-top: 20px;
    cursor: pointer;
}

.footer-menu-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #AAA297;
    margin-top: 42.5px;
}


/* ---------------------------------------------Back To Top Button Styles----------------------------------------------- */
/* Initially hide the button */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: white;
    color: #000;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: none;
    /* Initially hidden */
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    /* Ensure it's above other elements */
    transition: background-color 0.3s, transform 0.3s;
}

/* Hover effect */
.back-to-top:hover {
    background-color: #E6DFD5;
}

/* Click effect */
.back-to-top:active {
    transform: scale(0.9);
}

/* Arrow icon */
.bttimg {
    width: 25px;
    height: auto;
}


/* ---------------------------------------------Mobile Styles----------------------------------------------- */
@media screen and (max-width: 800px) {

    /*Navigation Bar*/
    .menu {
        flex-direction: column;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu a {
        text-align: center;
        padding: 20px;
        font-size: 15px;
    }

    .menu-item>a {
        display: block;
    }

    .menu-item img {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    #menu-checkbox:checked+.menu-toggle+.menu {
        display: flex;
    }

    #menu-checkbox:checked+.menu-toggle+.menu .close-btn {
        display: block;
    }

    .submenu {
        display: block;
        position: static;
    }


    /*Footer & Transport Footer*/
    .explore {
        display: none;
    }

    .footer-menu-container {
        padding: -20px;
    }

    .footer-menu-bar {
        display: none;
    }

    .footer-menu-container p {
        font-size: 8px;
        margin-top: 30px;
    }

    .socialmedia {
        margin-top: 20px;
        cursor: none;
    }
}