* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero Section Styles */
.hero {
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    /* Full screen height */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(2, 12, 22, 0.3)),
        url('../images/pahang/heropahang.jpg');
    background-size: cover;
    /* covers the entire section */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E6DFD5;

    padding-top: 0;
    /* For overlay effects */
}

.hero p {
    font-size: 28px;
    font-weight: 100;
    justify-content: center;
    margin: 0;
    letter-spacing: 5px;

}

.hero h1 {
    margin: 0;
    font-size: 80px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 15px;

}

/* --------------------------------------------------Button-------------------------------------------------------- */
.button-container {
    position: absolute;
    top: 60%;
    right: 100px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.circle-btn {
    position: relative;
    z-index: 5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    /* Removes default border */
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.circle-btn img {
    width: 65%;
    height: auto;
}

/* Hover effect for button */
.circle-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}



/*---------------------------- cameron-------------------*/

.cameron {
    padding: 50px;
    background-image: url(../images/pahang/cameron-bg.jpg);
}

.main-image img {
    border-radius: 10px;
}

.small-images img {
    border-radius: 10px;
}

.cameron h2 {
    text-align: center;
    font-size: 36px;
    color: #AAA297;
    margin-bottom: 60px;
}

/* 主内容容器，左右分布 */
.content1 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 40px;

}

.image1 {
    flex: 1;
    display: flex;

}

.main-image {
    margin-right: -40px;
}

.main-image img {
    width: 80%;
    height: auto;
    margin-right: 0px;
}

.small-images {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 0px;
}

.small-images img {
    width: 80%;
    height: auto;
    margin-left: 0px;
}

/*--------------------------- text------------------------------------------------------ */
.intro {
    flex: 1;
    max-width: 600px;

}

.intro h3 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #AAA297;
}

.intro h4 {
    font-size: 20px;

    margin-bottom: 15px;
    color: #AAA297
}

.intro ul li {
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 15px;
    color: #816E60;
    font-weight: medium;
}

.intro strong {
    color: #83A445;
}

.intro ul li::marker {
    font-size: 20px;
    color: #816E60;
}


/*------------------- Genting highlands-------------------*/
.genting {
    padding: 50px;
    background-color: #102121;
    height: 100vh;
}

.main-image-g img {
    border-radius: 10px;
}

.small-images-g img {
    border-radius: 10px;
}

.image2 {
    flex: 1;
    display: flex;
    padding-left: 30px;
}



/* 主内容容器，左右分布 */
.content2 {
    display: flex;
    gap: 90px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 40px;
    flex-direction: row-reverse;

}





/*------perak copy----*/
/* -------------------------------------------------------Tioman------------------------------------------------------------- */
.penanghills {
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 130vh;
    background-image: url('../images/pahang/tiomanhero.jpg');
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 100px;
}



.textcontainerright1 {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    height: auto;
    width: 42%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: center;
}

.content3 {
    color: #F6EBDC;
    padding: 40px 20px;
}

.content3 h3 {
    font-size: 30px;
    color: #F6EBDC;
    padding: 0 13px;
}


.content3 h4 {
    font-size: 20px;
    color: #AAA297;
    padding: 13px;
}

.content3 strong {
    color: #83A445;
}



/*------------------- colmartropicale-------------------*/

.colmartropicale {
    padding: 50px;
    background-color: #000000;
    height: 100vh;
}

.content3 {

    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 40px;

}


/* -------------------------------------------------------Misty Mountain------------------------------------------------------------- */
.mistymountain {
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    background-image: url('../images/penang/bgpenanghills.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.penanghills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 80px;
    width: 80%;
}

.georgetownimage {
    flex: 1;
    margin-right: 80px;
    background-image: url('../images/penang/sec2penanghills.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 400px;
}

.textcontainerright {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    height: auto;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content5 {
    color: #F6EBDC;
    padding: 40px 20px;
}

.content5 h3 {
    font-size: 30px;
    color: #F6EBDC;
    padding: 0 13px;
}


.content5 h4 {
    font-size: 20px;
    color: #AAA297;
    padding: 13px;
}

.content5 strong {
    color: #83A445;
}

/*------------------- church -------------------*/

.church {
    padding: 50px;
    background-color: #45150E;
    height: 110vh;
}

.content4 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 40px;
    flex-direction: row-reverse;

}


/*------------------- Button style -------------------*/
.gallery {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

.buttongallery {
    font-size: 20px;
    width: auto;
    padding: 15px 30px;
    margin: 40px 0;
    position: relative;
    bottom: -20px;

    background-color: #AAA297;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Add shadow */
}

.search {
    margin-left: 10px;
    height: 20px;
}

.buttongallery:hover {
    background-color: #F6EBDC;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

/*----------------------- What to eat----------------------------- */
.restaurant {
    background-color: #0F2307;
    height: 100vh;

}

.content5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text {
    margin-top: 50px;



}

.text h2 {
    color: #F6EBDC;
    font-size: 50px;
}

.text p {
    color: #AAA297;
    font-size: 20px;
}

.restaurantpic {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 50px;
    gap: 60px;
}

/* ---------------------what to eat-------------------- */

button.chickenrice {
    background:
        linear-gradient(rgba(3, 3, 3, 0.2), rgba(0, 0, 0, 0.2)), url('../images/malacca/cr.png');
    background-size: cover;
    background-position: center;

    border: 0px;
    border-radius: 10px;
    height: 400px;
    width: 280px;
    color: transparent;
}

button.chickenrice:hover {
    background:
        linear-gradient(rgba(2, 12, 22, 0.1), rgba(6, 6, 6, 0.9)), url('../images/malacca/cr.png');
    background-size: cover;

    border: 0px;
    border-radius: 10px;
    height: 400px;
    width: 280px;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Vertically aligns text to the bottom */
    padding-bottom: 20px;
    cursor: pointer;
}


button.somethingbakery {
    background:
        linear-gradient(rgba(3, 3, 3, 0.2), rgba(0, 0, 0, 0.2)), url('../images/malacca/somethingbakery.png');
    background-size: cover;
    background-position: center;

    border: 0px;
    border-radius: 10px;
    height: 400px;
    width: 280px;
    color: transparent;
}

button.somethingbakery:hover {
    background:
        linear-gradient(rgba(2, 12, 22, 0.1), rgba(6, 6, 6, 0.9)), url('../images/malacca/somethingbakery.png');
    background-size: cover;

    border: 0px;
    border-radius: 10px;
    height: 400px;
    width: 280px;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Vertically aligns text to the bottom */
    padding-bottom: 20px;
    cursor: pointer;
}

button.sataycelup {
    background:
        linear-gradient(rgba(3, 3, 3, 0.2), rgba(0, 0, 0, 0.2)), url('../images/malacca/sataycelup.png');
    background-size: cover;
    background-position: center;

    border: 0px;
    border-radius: 10px;
    height: 400px;
    width: 280px;
    color: transparent;
}

button.sataycelup:hover {
    background:
        linear-gradient(rgba(2, 12, 22, 0.1), rgba(6, 6, 6, 0.9)), url('../images/malacca/sataycelup.png');
    background-size: cover;

    border: 0px;
    border-radius: 10px;
    height: 400px;
    width: 280px;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Vertically aligns text to the bottom */
    padding-bottom: 20px;
    cursor: pointer;
}

button.Babakaya {
    background:
        linear-gradient(rgba(3, 3, 3, 0.2), rgba(0, 0, 0, 0.2)), url('../images/malacca/babakaya.png');
    background-size: cover;
    background-position: center;

    border: 0px;
    border-radius: 10px;
    height: 400px;
    width: 280px;
    color: transparent;
}

button.Babakaya:hover {
    background:
        linear-gradient(rgba(2, 12, 22, 0.1), rgba(6, 6, 6, 0.9)), url('../images/malacca/babakaya.png');
    background-size: cover;

    border: 0px;
    border-radius: 10px;
    height: 400px;
    width: 280px;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Vertically aligns text to the bottom */
    padding-bottom: 20px;
    cursor: pointer;
}



@media screen and (max-width: 900px) {

    .hero {
        background-position: center;
        background-size: cover;
        padding: 20px;
        /* Add padding for breathing space */
    }

    .hero h1 {
        font-size: 50px;
        letter-spacing: 10px;

        /* Smaller hero heading */
    }

    .hero p {
        font-size: 15px;
        padding-top: 40px;
        display: flex;
        justify-content: center;

    }

    .button-container {
        position: absolute;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }


    .circle-btn {
        margin: 0 30px;
        margin-bottom: 30px;
        padding-left: 30px;
    }

    .button-container .circle-btn:first-child {
        align-self: flex-start;

    }

    .button-container .circle-btn:last-child {
        align-self: flex-end;
    }




    /* ---------------Jonker street-------------*/



    .jonkerstreet h2 {
        text-align: center;
        font-size: 26px;


    }

    .content1 {
        flex-direction: column;
        display: flex;
    }

    .image1 {
        flex-direction: column;

    }



    .small-images {
        display: none;
    }

    .intro h3 {
        font-size: 30px;
    }

    /*----------- encore melaka--------------- */
    .encoremelaka {
        display: flex;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 80px;
        height: 800px;
    }


    .column1 {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        height: auto;
        width: 800px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);



    }

    .content2 h3 {
        font-size: 30px;
        color: #F6EBDC;
        padding: 13px;
    }

    .content2 h4 {
        font-size: 15px;
        color: #AAA297;
        padding: 13px;
    }

    .content2 p {
        font-size: 16px;
        padding: 13px;
    }

    /* ---------------Baba & Nyonya-------------*/

    .babanyonya {
        height: fit-content;
    }

    .babanyonya h2 {
        text-align: center;
        font-size: 26px;


    }

    .content3 {

        display: flex;
    }

    .image1 {
        flex-direction: column;

    }

    .intro h3 {
        font-size: 30px;
    }

    .intro h4 {
        font-size: 18px;
    }

    .intro p {
        font-size: 18px;
    }

    .bbnyonya {
        width: 30%;
    }

    /*----------- encore melaka--------------- */
    .mosque {
        display: flex;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 80px;
    }

    /*----------- Christ Church--------------- */
    .church {
        height: fit-content;
    }

    .babanyonya h2 {
        text-align: center;
        font-size: 26px;


    }

    .content3 {
        flex-direction: column;
        display: flex;
    }

    .content4 {
        flex-direction: column;
        display: flex;
    }


    /*------------------- Button style -------------------*/
    .gallery {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        text-decoration: none;

    }

    .buttongallery {
        font-size: 15px;
        width: 50%;
        padding: 10px;
        margin: 40px;

        background-color: #AAA297;
        border-radius: 25px;
        cursor: pointer;
        border: none;

        justify-content: center;
        align-items: center;
        transition: background-color 0.3s, transform 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        /* Add shadow */

    }

    .search {
        margin-left: 15px;

        height: 20px;
    }

    .buttongallery:hover {

        background-color: #F6EBDC;
        /* Change to orange on hover */
        transform: scale(1.1);
        /* Slightly enlarge on hover */
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
        /* Enhance shadow on hover */
        text-decoration: none;
    }




    /*----------------------- What to eat----------------------------- */
    .restaurant {
        background-color: #2A0C08;
        height: fit-content;

    }

    .content5 {
        display: flex;


    }

    .text {
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 20px;


    }

    .text h2 {
        color: #F6EBDC;
        font-size: 40px;
    }

    .text p {
        color: #AAA297;
        font-size: 18px;
    }

    .restaurantpic {
        flex-direction: column;
        height: auto;
        justify-content: center;

    }

    .button.chickenrice {
        background:
            linear-gradient(rgba(3, 3, 3, 0.2), rgba(0, 0, 0, 0.2)), url('../images/malacca/cr.png');
        background-size: cover;
        background-position: center;

        border: 0px;
        border-radius: 10px;
        height: 300px;
        width: 160px;
        color: transparent;
    }
}