/* --------------------------------------------------hero-------------------------------------------------------- */

.hero {
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    /* Full screen height */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(2, 12, 22, 0.2)), url('../images/penang/hero.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-content {
    color: white;
    text-align: center;

}

.hero p {
    position: relative;
    top: 30px;
    font-weight: 200;
    font-size: 32px;
}

.hero h1 {
    margin: 0px;
    font-size: 120px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}



/* ---------------------------button------------------------------------ */
.button-container {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.circle-btn {
    position: relative;
    z-index: 5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.circle-btn img {
    width: 40px;
    height: auto;
}

/* Hover effect for button */
.circle-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}



/* -------------------------------------------------------george town------------------------------------------------------------- */
.widthbgcolorbrown {
    background-color: #2A1A08;
}

.georgetown {
    padding: 100px 80px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.georgetown h2 {
    text-align: center;
    font-size: 34px;
    color: #BEB6A7;
    margin-bottom: 60px;
}

.content1 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 40px;
}

.threeimage-gridcontainer {
    flex: 1;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 25px;
    max-width: 650px;
    margin: 0;
}

.griditem-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.smallerimages {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}


/* ----------------------------text------------------------------------ */
.intro {
    flex: 1;
    max-width: 550px;
    margin-left: 30px;
}

.intro h3 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #F6EBDC;
}

.intro h4 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #AAA297
}

.intro ul li {
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 15px;
    color: #816E60;
    font-weight: medium;
}

.intro strong {
    color: #C3733D;
}


.intro ul li::marker {
    font-size: 20px;
    color: #816E60;
}



/* -------------------------------------------------------penang hills------------------------------------------------------------- */
.penanghills {
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    background-image: url('../images/penang/bgpenanghills.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.penanghills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 80px;
    width: 80%;
}

.georgetownimage {
    flex: 1;
    margin-right: 80px;
    background-image: url('../images/penang/sec2penanghills.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 400px;
}

.textcontainerright {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    height: auto;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content2 {
    color: #F6EBDC;
    padding: 40px 20px;
}

.content2 h3 {
    font-size: 30px;
    color: #F6EBDC;
    padding: 0 13px;
}

.content2 h4 {
    font-size: 20px;
    color: #AAA297;
    padding: 13px;
}


/* <!------------------------------------------------------------ Kek Lok Si Temple ------------------------------------------------------------> */
.widthbgcolor {
    background-color: black;
}

.klstemple {
    padding: 100px 80px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}



/* <!------------------------------------------------------------ Penang National Park  ------------------------------------------------------------> */
.nationalpark {
    font-family: 'Sweet Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 150px 80px;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}

.nationalpark-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    width: 80%;
    margin: auto;
}

.content4 {
    flex: 1;
    text-align: left;
}


/* -------------------------------------------------------ESCAPE------------------------------------------------------------- */
.escapepng {
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    background-image: url('../images/penang/bgescapepng.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.escapepng-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.escapepngimage {
    flex: 1;
    margin-right: 80px;
    background-image: url('../images/penang/sec5escapepng.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 400px;
}

.textcontainerescape {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    height: auto;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/*------------------- Button style -------------------*/
.gallery {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

.buttongallery {
    font-size: 20px;
    width: auto;
    padding: 15px 30px;
    margin: 40px 0;
    position: relative;
    bottom: -20px;

    background-color: #AAA297;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Add shadow */
}

.search {
    margin-left: 10px;
    height: 20px;
}

.buttongallery:hover {
    background-color: #F6EBDC;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

/*----------------------- What to eat----------------------------- */
.restaurant {
    background-color: #2A1A08;
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 110vh;
}

.content5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 50px;
    max-width: 1440px;
    margin: 0 auto;
}

.titleof-res {
    flex-direction: column;
    height: auto;
    width: 60%;
    justify-content: center;
    gap: 30px;
    color: #F6EBDC;
    justify-content: left;
}


.titleof-res h2 {
    font-size: 40px;
    color: #F6EBDC;
}


.titleof-res p {
    color: #AAA297;
    font-size: 20px;
}

.restaurantpic {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    gap: 0px;
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.image-button img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

.image-button:hover {
    transform: scale(1.1);
}

.text-overlay {
    font-family: 'Sweet Sans Pro', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8),
}

.image-button:hover .text-overlay {
    opacity: 1;
}


/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    max-width: 750px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
}

.popup-content1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(2, 12, 22, 0.2)), url(../images/penang/restaurant_bg1.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.popup-content2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(2, 12, 22, 0.2)), url(../images/penang/restaurant_bg2.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.popup-content3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(2, 12, 22, 0.2)), url(../images/penang/restaurant_bg3.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.popup-content4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(2, 12, 22, 0.2)), url(../images/penang/restaurant_bg4.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.foodimage img {
    display: block;
    width: 88%;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.text {
    display: flex;
    margin-left: 30px;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
}


.text h3 {
    font-size: 28px;
    color: #ffffff;
}

.text h5 {
    font-size: 18px;
    color: #ffffff;
    margin: 0;

}

.text p {

    font-size: 16px;
    color: #a49e95;
    font-weight: lighter;
    margin-top: 6px;
}

.close-popup {
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.close-popup img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;

}

.close-popup img:hover {
    transform: scale(1.1);
    /* 放大 10% */

}



@media screen and (max-width: 1170px) {
    ul {
        padding: 0;
    }

    .escapepng {
        height: auto;
    }

    .gallery {
        text-decoration: none;
        margin-bottom: 50px;
    }

    .buttongallery {
        position: relative;
        margin: 0px 0;
        bottom: 0px;
    }
}


@media screen and (max-width: 920px) {

    .hero h1 {
        font-size: 80px;
    }

    .hero p {
        font-size: 24px;
    }

    .button-container {
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin-left: 70px;
        margin-right: 70px;

    }

    /* -------------------George Town-----------------*/

    .content1 {
        flex-direction: column;
        display: flex;
    }

    .intro h3 {
        font-size: 30px;
    }



    /*--------------- penanghills------------------- */
    .penanghills {
        height: auto;
    }

    .penanghills-container {
        margin: 50px;
        flex-direction: column;
        width: 90%;
    }

    .georgetownimage {
        flex: 1;
        margin-right: 0;
        margin-bottom: 30px;
        width: 100%;
        min-height: 300px;
        background-size: contain;
    }

    .textcontainerright {
        width: 100%;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    }

    .content2 {
        padding: 30px;
    }

    .content2 h3 {
        font-size: 28px;
    }

    .content2 h4 {
        font-size: 18px;
    }



    /*--------------- Kl temple------------------- */
    .content3 {
        flex-direction: column;
        display: flex;
    }

    .intro h3 {
        font-size: 30px;
    }

    .intro h4 {
        font-size: 18px;
    }

    .intro p {
        font-size: 18px;
    }

    /*--------------- National Park------------------- */
    .nationalpark {
        height: auto;
    }

    .nationalpark-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 90%;
    }

    .content4 {
        flex-direction: column;
        display: flex;
    }

    /*--------------- Escape penang------------------- */
    .escapepng {
        height: auto;
    }

    .escapepng-container {
        margin: 50px;
        flex-direction: column;
        width: 90%;
    }

    .escapepngimage {
        flex: 1;
        margin-right: 0;
        margin-bottom: 30px;
        width: 100%;
        min-height: 300px;
        background-size: contain;
    }

    .textcontainerescape {
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    }

    .gallery {
        margin-top: 0px;
        text-decoration: none;
        margin-bottom: 50px;
    }

    .buttongallery {
        position: relative;
        margin: 0px 0;
        bottom: 0px;
    }

    /*----------------------- What to eat----------------------------- */

    .restaurant {
        height: fit-content;
    }

    .content5 {
        display: flex;
    }

    .titleof-res {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .restaurantpic {
        flex-direction: column;
        gap: 100px;
    }

    .titleof-res h2 {
        color: #F6EBDC;
        font-size: 55px;
        margin: 0;

    }

    .titleof-res p {
        color: #AAA297;
        font-size: 26px;
    }

    .text-overlay {
        left: 50px;
    }

}

@media (max-width: 750px) {
    .foodimage img {
        display: none
    }
}


@media (max-width: 650px) {

    /* -------------------George Town-----------------*/
    .smallerimages {
        display: none;
    }

    .georgetown {
        padding: 50px 20px;
    }

    .georgetown h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .content1 {
        margin: 0px;
        flex-direction: column;
    }

    .threeimage-gridcontainer {
        grid-template-columns: 1fr;
        max-width: 70%;
        gap: 15px;
    }

    .griditem-image img {
        border-radius: 10px;
    }

    .button-container {
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin-left: 30px;
        margin-right: 30px;

    }


    /* -------------------Penanghills-----------------*/
    .penanghills {
        height: auto;
    }

    .penanghills-container {
        flex-direction: column;
        margin: 50px;
        width: 100%;
    }

    .georgetownimage {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        background-size: cover;
    }

    .textcontainerright {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .content2 {
        padding: 10px;
    }

    .content2 h3 {
        font-size: 24px;
    }

    .content2 h4 {
        font-size: 16px;
    }


    /* -------------------National Park-----------------*/
    .nationalpark-container {
        gap: 30px;
    }

    .threeimage-gridcontainer {
        gap: 15px;
    }

    .smallerimages .griditem-image img {
        width: calc(50% - 5px);
    }

    .content4 h3 {
        font-size: 24px;
    }

    .content4 h4 {
        font-size: 16px;
        margin: 15px 0;
    }

    .content4 ul {
        font-size: 14px;
        padding: 0 10px;
    }


    /* -------------------ESCAPE-----------------*/
    .escapepng {
        height: auto;
    }

    .escapepng-container {
        flex-direction: column;
        margin: 50px;
        width: 100%;
    }

    .escapepngimage {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
        background-size: cover;
    }


    .buttongallery {
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 20px;
        bottom: 0px;
    }

    /* -------------------What To Eat -----------------*/
    .titleof-res h2 {
        font-size: 40px;
    }

    .titleof-res p {
        font-size: 20px;
    }

}


/* -------------------  Penang National Park -----------------*/

@media screen and (max-width: 500px) {
    .nationalpark {
        padding: 150px 10px;
    }
}



@media screen and (max-width: 450px) {
    .intro {
        margin-left: 20px;
    }

    .hero h1 {
        font-size: 60px;
    }

    .content2 {
        padding: 0px;
    }

    .content2 h4 {
        padding: 0 0;
    }

    .content2 h3 {
        padding: 0 0;
    }

    .klstemple {
        padding: 100px 20px;

    }

    .textcontainerescape {
        width: 80%;
    }

    /* -------------------What To Eat -----------------*/
    .content5 {
        padding: 80px 0px;
    }

    .titleof-res {
        width: 80%;
    }


}