/* Hero Section Styles */
.hero {
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    /* Full screen height */
    background-image:
        url('../images/malacca/hero.jpg');
    background-size: cover;
    /* covers the entire section */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E6DFD5;

    padding-top: 0;
    /* For overlay effects */
}

.maxwidth {
    max-width: 1440px;
    margin: 0 auto;
}

.hero p {
    font-size: 28px;
    font-weight: 100;
    justify-content: center;
    margin: 0;
    letter-spacing: 5px;

}

.hero h1 {
    margin: 0;
    font-size: 80px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 15px;

}

/* --------------------------------------------------Button-------------------------------------------------------- */
.button-container {
    position: absolute;
    top: 60%;
    right: 100px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.circle-btn {
    position: relative;
    z-index: 5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    /* Removes default border */
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.circle-btn img {
    width: 65%;
    height: auto;
}

/* Hover effect for button */
.circle-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}



/*---------------------------- jonker street-------------------*/

.jonkerstreet {
    padding: 50px;
    background-color: #45150E;
}

.jonkerstreet h2 {
    text-align: center;
    font-size: 36px;
    color: #AAA297;
    margin-bottom: 60px;
}

/* 主内容容器，左右分布 */
.content1 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 40px;
    max-width: 1280px;
    margin: 0 auto;



}

.image1 {
    flex: 1;
    display: flex;

}

.main-image {
    margin-right: -40px;
}

.main-image img {
    width: 80%;
    height: auto;
    margin-right: 0px;
}

.small-images {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 0px;
}

.small-images img {
    width: 80%;
    height: auto;
    margin-left: 0px;
}

/* 文字介绍 */
.intro {
    flex: 1;
    max-width: 600px;

}

.intro h3 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #F6EBDC;
}

.intro h4 {
    font-size: 20px;

    margin-bottom: 15px;
    color: #AAA297
}

.intro p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #816E60;
    font-weight: medium;
}

.intro ul li {
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 15px;
    color: #816E60;
    font-weight: medium;
}

.intro strong {
    color: #B24534;
}

.intro ul li::marker {
    font-size: 20px;
    color: #816E60;
}

/*------------------- encore melaka -------------------*/
.encoremelaka {
    background-image: url(../images/malacca/encoremelaka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    height: 110vh;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 80px;
}


.column1 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: auto;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    margin: 50px;


}

.content2 {
    color: #F6EBDC;
    padding: 20px;
}

.content2 h3 {
    font-size: 30px;
    color: #F6EBDC;
    padding: 13px;
}

.content2 h4 {
    font-size: 18px;
    color: #AAA297;
    padding: 10px;
}

.content2 ul {
    color: #816E60;
    font-size: 16px;
    padding: 13px;
    padding-left: 25px;

}

.content2 li {
    padding: 10px;
}

.content2 strong {
    color: #B24534;
}

/*------------------- Baba Nyonya-------------------*/

.babanyonya {
    padding: 50px;
    background-color: #130B10;
    height: 90vh;
}

.content3 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 50px;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 70px;

}



/*---------------------Malacca Straits Mosque-------------------*/
.mosque {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/malacca/mosque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 110vh;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 80px;
}

/*------------------- church -------------------*/

.church {
    padding: 50px;
    background-color: #45150E;
    height: 100vh;
}

.content4 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 40px;
    flex-direction: row-reverse;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 50px;

}


/*------------------- Button style -------------------*/
.gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;

}

.buttongallery {
    font-size: 20px;
    width: 20%;
    padding: 10px;
    margin: 40px;

    background-color: #AAA297;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Add shadow */

}

.search {
    margin-left: 15px;

    height: 20px;
}

.buttongallery:hover {

    background-color: #F6EBDC;
    /* Change to orange on hover */
    transform: scale(1.1);
    /* Slightly enlarge on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    /* Enhance shadow on hover */
    text-decoration: none;
}

/*----------------------- What to eat----------------------------- */
.restaurant {
    background-color: #2A0C08;
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 110vh;

}

.content6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 50px;
    max-width: 1440px;
    margin: 0 auto;
}

.titleof-res {

    color: #F6EBDC;
    justify-content: left;

}

.titleof-res h2 {
    font-size: 40px;
    color: #F6EBDC;

}


.titleof-res p {
    color: #AAA297;
    font-size: 20px;
}

.restaurantpic {
    width: 90%;
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 50px;
    gap: px;
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.image-button img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

.image-button:hover {
    transform: scale(1.1);
}

.text-overlay {
    font-family: 'Sweet Sans Pro', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8),
}

.image-button:hover .text-overlay {
    opacity: 1;
}


/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    max-width: 750px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
}

.popup-content1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(2, 12, 22, 0.2)), url(../images/malacca/restaurant1bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.popup-content2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(2, 12, 22, 0.2)), url(../images/malacca/somtehingbakery\ bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.popup-content3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(2, 12, 22, 0.2)), url(../images/malacca/satay\ bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.popup-content4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(2, 12, 22, 0.2)), url(../images/malacca/babakaya_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.foodimage img {
    display: block;
    width: 88%;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.text {
    display: flex;
    margin-left: 30px;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
}


.text h3 {
    font-size: 28px;
    color: #ffffff;
}

.text h5 {
    font-size: 18px;
    color: #ffffff;
    margin: 0;

}

.text p {

    font-size: 16px;
    color: #a49e95;
    font-weight: lighter;
    margin-top: 6px;
}

.close-popup {
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.close-popup img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;

}

.close-popup img:hover {
    transform: scale(1.1);
    /* 放大 10% */

}


@media screen and (max-width: 1100px) {

    /*----------- encore melaka--------------- */
    .encoremelaka {
        display: flex;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 80px;
        height: 900px;
    }


    .column1 {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        height: auto;
        width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);



    }

    .content2 h3 {
        font-size: 30px;
        color: #F6EBDC;
        padding: 13px;
    }

    .content2 h4 {
        font-size: 15px;
        color: #AAA297;
        padding: 13px;
    }

    .content2 p {
        font-size: 16px;
        padding: 13px;
    }

}


@media screen and (max-width: 900px) {

    .hero {
        background-position: center;
        background-size: cover;
        padding: 20px;
        /* Add padding for breathing space */
    }

    .hero h1 {
        font-size: 50px;
        letter-spacing: 10px;

        /* Smaller hero heading */
    }

    .hero p {
        font-size: 15px;
        padding-top: 40px;
        display: flex;
        justify-content: center;

    }

    .button-container {
        position: absolute;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }


    .circle-btn {
        margin: 0 30px;
        margin-bottom: 30px;
        padding-left: 30px;
    }

    .circle-btn img {
        width: 100%;
        height: auto;
        margin-right: 28px;
    }

    .button-container .circle-btn:first-child {
        align-self: flex-start;

    }

    .button-container .circle-btn:last-child {
        align-self: flex-end;
    }

    .button-container {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin-left: 30px;
        margin-right: 30px;

    }



    /* ---------------Jonker street-------------*/



    .jonkerstreet h2 {
        text-align: center;
        font-size: 30px;


    }

    .content1 {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image1 img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 60px;

    }

    .main-image img {
        justify-content: center;
    }



    .small-images {
        display: none;
    }

    .intro h3 {
        font-size: 30px;
    }

    /*----------- encore melaka--------------- */
    .encoremelaka {
        display: flex;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 80px;
        height: 800px;
    }


    .column1 {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        height: auto;
        width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        margin: 0;


    }

    .content2 h3 {
        font-size: 30px;
        color: #F6EBDC;
        padding: 13px;
    }

    .content2 h4 {
        font-size: 15px;
        color: #AAA297;
        padding: 13px;
    }

    .content2 p {
        font-size: 16px;
        padding: 13px;
    }

    /* ---------------Baba & Nyonya-------------*/

    .babanyonya {
        height: fit-content;
    }

    .babanyonya h2 {
        text-align: center;
        font-size: 26px;


    }

    .content3 {

        display: flex;
    }

    .image1 {
        flex-direction: column;

    }

    .intro h3 {
        font-size: 30px;
    }

    .intro h4 {
        font-size: 18px;
    }

    .intro p {
        font-size: 18px;
    }

    .bbnyonya {
        width: 30%;
    }

    /*----------- encore melaka--------------- */
    .mosque {
        display: flex;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 80px;
    }

    /*----------- Christ Church--------------- */
    .church {
        height: fit-content;
    }

    .babanyonya h2 {
        text-align: center;
        font-size: 26px;


    }

    .content3 {
        flex-direction: column;
        display: flex;
        padding-top: 0;
    }

    .content4 {
        flex-direction: column;
        display: flex;
        padding-top: 0px;
    }



    /*------------------- Button style -------------------*/
    .gallery {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        text-decoration: none;

    }

    .buttongallery {
        font-size: 15px;
        width: 50%;
        padding: 10px;
        margin: 40px;

        background-color: #AAA297;
        border-radius: 25px;
        cursor: pointer;
        border: none;

        justify-content: center;
        align-items: center;
        transition: background-color 0.3s, transform 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        /* Add shadow */

    }

    .search {
        margin-left: 15px;
        height: 20px;
    }

    .buttongallery:hover {

        background-color: #F6EBDC;
        /* Change to orange on hover */
        transform: scale(1.1);
        /* Slightly enlarge on hover */
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
        /* Enhance shadow on hover */
        text-decoration: none;
    }




    /*----------------------- What to eat----------------------------- */
    .restaurant {
        background-color: #2A1A08;
        height: fit-content;

    }

    .content6 {
        display: flex;


    }

    .titleof-res {
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 20px;


    }

    .titleof-res h2 {
        color: #F6EBDC;
        font-size: 55px;
    }

    .titleof-res p {
        color: #AAA297;
        font-size: 26px;
    }

    .restaurantpic {
        flex-direction: column;
        height: auto;
        width: 60%;
        justify-content: center;
        gap: 30px
    }

    /*----------------------- popup----------------------------- */

    .popup1 {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 98%;
        max-width: 750px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        display: flex;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(2, 12, 22, 0.2)), url(../images/malacca/restaurant1bg.jpg);


    }

    .popup-content1 {

        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 10px;
        text-align: left;
        display: flex;
        border-radius: 10px;
        border: 40px #BEB6A7;
        border-width: 50%;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        margin: 20px;
    }


    .restaurantimage img {
        display: none;
    }

    .mobileimage {
        display: none;
    }

    .mobileimage img {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 10px;
        margin: 20px;
    }

    .text {

        margin-left: 0px;
        color: #ffffff;
    }


    .text h3 {
        font-size: 25px;
        color: #ffffff;
    }

    .text h5 {
        font-size: 13px;
        color: #ffffff;
        margin: 0;

    }

    .text p {

        font-size: 16px;
        color: #a49e95;
        ;
        font-weight: lighter;
        margin-top: 6px;
    }

}

@media screen and (max-width: 600px) {

    .main-image {
        margin-right: 0;
    }

    .encoremelaka {
        display: flex;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 80px;
        height: 100%;
    }


    .column1 {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        height: auto;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        margin: 0;


    }

    .content2 {
        padding: 0;

    }

    .content2 ul {
        padding-left: 20px;
    }

    .intro ul {
        padding-left: 0;
    }

    .mobileimage img {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 78%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 10px;
        margin: 20px;
    }


    /*----------------------- What to eat----------------------------- */
    .restaurant {
        background-color: #2A0C08;
        height: fit-content;

    }

    .content6 {
        display: flex;


    }

    .titleof-res {
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 20px;


    }

    .titleof-res h2 {
        color: #F6EBDC;
        font-size: 45px;
    }

    .titleof-res p {
        color: #AAA297;
        font-size: 18px;
    }

    .restaurantpic {
        flex-direction: column;
        height: auto;
        width: 60%;
        justify-content: center;
        gap: 30px;
    }


}



@media screen and (max-width: 500px) {


    /*----------- encore melaka--------------- */
    .encoremelaka {
        display: flex;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 80px;
        height: 800px;
    }


    .column1 {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        height: 96%;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .content2 h3 {
        font-size: 22px;
        color: #F6EBDC;
        padding: 13px;
    }

    .content2 h4 {
        font-size: 13px;
        color: #AAA297;
        padding: 13px;
    }

    .content2 ul {
        font-size: 12px;
        padding: 13px;
    }

    .image1 img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;

    }

    .intro h3 {
        font-size: 25px;
    }

    .intro h4 {
        font-size: 18px;
    }

    .intro ul {
        padding-left: 0;
    }

    .mobileimage img {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 10px;
        margin: 20px;
    }

    .text h3 {
        font-size: 23px;

    }

    .text h5 {
        font-size: 18px;
    }


}