/* ---------------------------------------------Transportation----------------------------------------------- */

body {
    background-color: #CEC2B1;
    /* Set the overall background color */
}

/* ---------------------------------------------Max Width----------------------------------------------- */
.space {
    max-width: 1280px;
    /* Set the maximum width */
    width: 100%;
    margin: 0 auto;
    /* Center the section horizontally */
    padding: 20px;
    /* Add some padding for spacing */
}

/* ---------------------------------------------Hero Section Styles----------------------------------------------- */
.hero {
    font-family: 'Sweet Sans Pro', sans-serif;
    height: 100vh;
    /* Full screen height */
    background:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(2, 12, 22, 0.2)), url('../images/transportation/transportation.jpeg');
    background-size: cover;
    /* covers the entire section */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E6DFD5;
}

/* Hero Content */
.hero-content {
    font-family: 'Sweet Sans Pro';
}

.hero h1 {
    font-size: 80px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: -20px;
}

.hero p {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: lighter;
}

/* ---------------------------------------------Destination Section Styles----------------------------------------------- */
.destination-container {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #CEC2B1;
    font-family: 'Sweet Sans Pro', sans-serif;
    color: #020C16;
}

.destination-column1 {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.destination-column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-top: 70px;
}

.destination-container h1 {
    font-size: 42px;
}

.destination-container p {
    font-size: 20px;
    margin-top: -30px;
    letter-spacing: 2px;
    font-weight: 300;
}

.destination-column2 img {
    display: block;
    flex-direction: column;
    margin-bottom: -18px;
    padding-right: 30px;
    padding-bottom: 5px;
}

.box {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 35px;
    background-color: #E6DFD5;
    border: 0px;
    border-radius: 10px;
    font-family: 'Sweet Sans Pro', sans-serif;
    color: #020C16;
    padding: 20px;
    margin: 40px 10px 30px 0;
    /* Vertical margin between boxes */
}

.box:nth-child(2) h2 {
    font-weight: 400;
    color: #AAA297;
    /* Custom font weight and color for the second box */
}

/* ---------------------------------------------States Section Styles----------------------------------------------- */
.states-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 50px;
    padding-bottom: 130px;
}

a {
    text-decoration: none;
    /* Remove the underline for all links */
}

button.malacca {
    background:
        linear-gradient(rgba(230, 223, 213, 0.2), rgba(230, 223, 213, 0.2)), url('../images/transportation/malacca\ button.jpg');
    background-size: cover;
    background-color: #E6DFD5;
    border: 0px;
    border-radius: 10px;
    height: 275px;
    width: 275px;
    color: transparent;
}

button.malacca:hover {
    background:
        linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/malacca\ button.jpg');
    background-size: cover;
    background-color: #E6DFD5;
    border: 0px;
    border-radius: 10px;
    height: 275px;
    width: 275px;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #020C16;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Vertically aligns text to the bottom */
    padding-bottom: 20px;
    cursor: pointer;
}

button.pahang {
    background:
        linear-gradient(rgba(230, 223, 213, 0.2), rgba(230, 223, 213, 0.2)), url('../images/transportation/pahang\ button.jpg');
    background-size: cover;
    background-color: #E6DFD5;
    border: 0px;
    border-radius: 10px;
    height: 275px;
    width: 275px;
    color: transparent;
}

button.pahang:hover {
    background:
        linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/pahang\ button.jpg');
    background-size: cover;
    background-color: #E6DFD5;
    border: 0px;
    border-radius: 10px;
    height: 275px;
    width: 275px;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #020C16;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Vertically aligns text to the bottom */
    padding-bottom: 20px;
    cursor: pointer;
}

button.penang {
    background:
        linear-gradient(rgba(230, 223, 213, 0.2), rgba(230, 223, 213, 0.2)), url('../images/transportation/penang\ button.jpg');
    background-size: cover;
    background-color: #E6DFD5;
    border: 0px;
    border-radius: 10px;
    height: 275px;
    width: 275px;
    color: transparent;
}

button.penang:hover {
    background:
        linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/penang\ button.jpg');
    background-size: cover;
    background-color: #E6DFD5;
    border: 0px;
    border-radius: 10px;
    height: 275px;
    width: 275px;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #020C16;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Vertically aligns text to the bottom */
    padding-bottom: 20px;
    cursor: pointer;
}

button.perak {
    background:
        linear-gradient(rgba(230, 223, 213, 0.2), rgba(230, 223, 213, 0.2)), url('../images/transportation/perak\ button.jpg');
    background-size: cover;
    background-color: #E6DFD5;
    border: 0px;
    border-radius: 10px;
    height: 275px;
    width: 275px;
    color: transparent;
}

button.perak:hover {
    background:
        linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/perak\ button.jpg');
    background-size: cover;
    background-color: #E6DFD5;
    border: 0px;
    border-radius: 10px;
    height: 275px;
    width: 275px;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #020C16;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Vertically aligns text to the bottom */
    padding-bottom: 20px;
    cursor: pointer;
}


/* ---------------------------------------------Mobile Styles----------------------------------------------- */

@media screen and (max-width: 1300px) {

    /* ---------------------------------------------Hero Section Styles----------------------------------------------- */
    .hero {
        font-family: 'Sweet Sans Pro', sans-serif;
        height: 100vh;
        /* Full screen height */
        background:
            linear-gradient(rgba(0, 0, 0, 0.8), rgba(2, 12, 22, 0.2)), url('../images/transportation/transportation.jpeg');
        background-size: cover;
        /* covers the entire section */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #E6DFD5;
        background-position: 25% 50%;
        /* Fine-tune to focus on a specific part, first is for left, second is for top */
    }

    /* Hero Content */
    .hero-content {
        font-family: 'Sweet Sans Pro';
    }

    .hero h1 {
        font-size: 60px;
        margin-bottom: -18px;
    }

    .hero p {
        font-size: 25px;
    }

    /* ---------------------------------------------Destination Section Styles----------------------------------------------- */
    .destination-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
        padding: 15px;
    }

    .destination-column1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }

    .destination-column2 {
        display: flex;
        justify-content: center;
        margin-top: -70px;
    }

    .destination-container h1 {
        font-size: 35px;
    }

    .destination-container p {
        font-size: 18px;
        margin-top: -20px;
        letter-spacing: 2px;
        font-weight: 300;
    }

    .destination-column2 img {
        display: block;
        flex-direction: column;
        margin-bottom: -18px;
        padding-right: 30px;
        padding-bottom: 5px;
        height: 40px;
    }

    .box {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 230px;
        height: 35px;
        background-color: #E6DFD5;
        border: 0px;
        border-radius: 10px;
        font-family: 'Sweet Sans Pro', sans-serif;
        color: #020C16;
        padding: 15px;
        margin: 40px 10px 30px 0;
        /* Vertical margin between boxes */
    }

    .box:nth-child(2) h2 {
        font-weight: 400;
        color: #AAA297;
        /* Custom font weight and color for the second box */
    }

    /* ---------------------------------------------States Section Styles----------------------------------------------- */
    .states-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    button.malacca {
        background:
            linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/malacca\ button.jpg');
        background-size: cover;
        background-color: #E6DFD5;
        border: 0px;
        border-radius: 10px;
        height: 175px;
        width: 175px;
        font-family: 'Sweet Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #020C16;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* Vertically aligns text to the bottom */
        padding-bottom: 20px;
        cursor: pointer;
    }

    button.malacca:hover {
        background:
            linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/malacca\ button.jpg');
        background-size: cover;
        background-color: #E6DFD5;
        border: 0px;
        border-radius: 10px;
        height: 175px;
        width: 175px;
        font-family: 'Sweet Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #020C16;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* Vertically aligns text to the bottom */
        padding-bottom: 20px;
        cursor: pointer;
    }

    button.pahang {
        background:
            linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/pahang\ button.jpg');
        background-size: cover;
        background-color: #E6DFD5;
        border: 0px;
        border-radius: 10px;
        height: 175px;
        width: 175px;
        font-family: 'Sweet Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #020C16;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* Vertically aligns text to the bottom */
        padding-bottom: 20px;
        cursor: pointer;
    }

    button.pahang:hover {
        background:
            linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/pahang\ button.jpg');
        background-size: cover;
        background-color: #E6DFD5;
        border: 0px;
        border-radius: 10px;
        height: 175px;
        width: 175px;
        font-family: 'Sweet Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #020C16;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* Vertically aligns text to the bottom */
        padding-bottom: 20px;
        cursor: pointer;
    }

    button.penang {
        background:
            linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/penang\ button.jpg');
        background-size: cover;
        background-color: #E6DFD5;
        border: 0px;
        border-radius: 10px;
        height: 175px;
        width: 175px;
        font-family: 'Sweet Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #020C16;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* Vertically aligns text to the bottom */
        padding-bottom: 20px;
        cursor: pointer;
    }

    button.penang:hover {
        background:
            linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/penang\ button.jpg');
        background-size: cover;
        background-color: #E6DFD5;
        border: 0px;
        border-radius: 10px;
        height: 175px;
        width: 175px;
        font-family: 'Sweet Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #020C16;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* Vertically aligns text to the bottom */
        padding-bottom: 20px;
        cursor: pointer;
    }

    button.perak {
        background:
            linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/perak\ button.jpg');
        background-size: cover;
        background-color: #E6DFD5;
        border: 0px;
        border-radius: 10px;
        height: 175px;
        width: 175px;
        font-family: 'Sweet Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #020C16;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* Vertically aligns text to the bottom */
        padding-bottom: 20px;
        cursor: pointer;
    }

    button.perak:hover {
        background:
            linear-gradient(rgba(2, 12, 22, 0.1), rgba(255, 255, 255, 0.9)), url('../images/transportation/perak\ button.jpg');
        background-size: cover;
        background-color: #E6DFD5;
        border: 0px;
        border-radius: 10px;
        height: 175px;
        width: 175px;
        font-family: 'Sweet Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #020C16;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* Vertically aligns text to the bottom */
        padding-bottom: 20px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1000px) {

    /* ---------------------------------------------Hero Section Styles----------------------------------------------- */
    .hero h1 {
        font-size: 35px;
        margin-bottom: -15px;
    }

    .hero p {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {

    /* ---------------------------------------------States Section Styles----------------------------------------------- */
    .states-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -20px;
        margin-bottom: -20px;
        gap: 40px;
    }
}

@media screen and (max-width: 400px) {

    /* ---------------------------------------------Hero Section Styles----------------------------------------------- */
    .hero h1 {
        font-size: 30px;
        margin-bottom: -12px;
    }

    .hero p {
        font-size: 15px;
    }
}