@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('fonts/SweetSansProMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------Navigation Bar Styles----------------------------------------------- */
#nav {
    padding: 5px;
}

a {
    text-decoration: none;
    color: #AAA297;
}


/* Header Styles */
header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px;
    background-color: #020C16;
    display: flex;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    margin-left: 20px;
    height: 40px;
    width: auto;
}


/* Info Section Styling */
.info {
    font-family: 'Sweet Sans Pro', sans-serif;
    font-weight: 500;
    gap: 30px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 45px;
    position: relative;
}


.icon-container {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Space between the text and the icon */
}


.icon {
    align-items: center;
    height: 15px;
    position: relative;
    top: 3px;

}



.blogs {
    margin-right: 20px;
    /* Adds space to the right of blogshare */
}

.menu-ptg {
    position: relative;
    display: inline-block;
}

.menu-pyt {
    position: relative;
    display: inline-block;
}

.submenu {
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #333333;
    color: white;
    min-width: 150px;
    z-index: 10;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    /* To ensure items are clipped */
    opacity: 0;
    transform: translateY(-10px);
    /* Initial position for slide-in effect */
    transition: all 0.3s ease-in-out;

}

.submenu a {
    min-height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px 15px;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.submenu a:hover {
    background-color: #555;
    /* Highlight color */
    color: #ffd700;
    /* Gold color for hover text */
    transform: scale(1.02);
    /* Slight zoom effect */
    transition: all 0.3s ease-in-out;
    /* Add smooth animation for hover effects */
}

.menu-ptg:hover .submenu {
    display: block;
    opacity: 1;
    /* Fully opaque */
    transform: translateY(0);
    /* Slide to the normal position */
}

.menu-pyt:hover .submenu {
    display: block;
    opacity: 1;
    transform: translateY(0);

}


/* ---------------------------------------------Footer Styles----------------------------------------------- */
.footer {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #5C3922;
    color: white;
    text-align: center;
    padding: 80px;
}

.footer h1 {
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 40px;
    color: #E6DFD5;
}

.footer p {
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #AAA297;
    margin-top: -15px;
}

.footer hr {
    border: none;
    height: 1px;
    background-color: #816E60;
    width: 100%;
    /* Line width */
    margin-top: 90px;
    /* Center alignment */
}

/* Button Styles */
.explore {
    width: auto;
    padding: 10px 20px;
    background-color: #AAA297;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Icon Styles */
.explore .search {
    margin-left: 10px;
    width: 20px;
    height: auto;
}

/* Text Styles */
.explore span {
    margin-left: 10px;
    color: #31312E;
    font-size: 20px;

}

/* Hover Effect */
.explore:hover {
    background-color: #f5c400;
    /* Change to orange on hover */
    transform: scale(1.1);
    /* Slightly enlarge on hover */
}

.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.socialmedia {
    background-color: transparent;
    border: none;
    height: 45px;
    margin-top: 20px;
    cursor: pointer;
}

.footer-menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #AAA297;
    margin-top: 18px;
}

.footer-menu-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #AAA297;
    margin-top: 42.5px;
}

/* ---------------------------------------------Back To Top Button Styles----------------------------------------------- */
.backtotop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 85px;
    bottom: 210px
}

.backtotop-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.backtotop {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}